{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Объявления</h1>
    <ul>
        {% for announcement in announcements %}
            <li>
                <h4>{{ announcement.title }}</h4>
                <p>{{ announcement.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}