{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="mb-3">Объявления</h1>
    <ul class="list-group">
        {% for announcement in announcements %}
            <li class="list-group-item">
                <a href="{{ path('announcement-view', {'city': city, 'category' : category ,'id' : announcement.id}) }}">
                    {{ announcement.title }}
                </a>
                <div class="text-muted">
                    {{ announcement.createTime|date('d.m.Y')  }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}